.popup__button {
    background-color: #000;
    color: white;
    text-align: center;
    border: none;
    font-size: 18px;
    line-height: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 2px;
}

.popup__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.profile__add-photo-button:active, .popup__button:focus {
    outline: none;
}

@media screen and (max-width: 320px) {
    .popup__button {
        font-size: 14px;
        line-height: 17px;
    }
}
