.header {
    display: grid;
    grid-template-columns: minmax(282px, 68.75vw);
    min-height: 74px;
    margin: 45px auto 40px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 420px) {
    .header {
        min-height: 56px;
        margin: 28px 0 42px;
    }
}