.popup__button_save-data {
    font-size: 18px;
    line-height: 22px;
    padding-top: 14px;
    padding-bottom: 18px;
}

@media screen and (max-width: 320px) {
    .popup__button_save-data {
        font-size: 14px;
        line-height: 17px;
    }
}