.profile__edit-data-button {
    align-self: center;
    display: inline-block;
    background-color: #2A2C2F;
    border: 1px solid #FFFFFF;
    padding: 0;
    height: 24px;
    width: 24px;
    margin: 15px 0 0;
    vertical-align: top;
}

@media screen and (max-width: 680px) {
    .profile__edit-data-button {
        height: 18px;
        width: 18px;
        margin-top: 5px;
        margin-left: 10px;
    }
}