.photos__like-button {
    background-image: url("../../../images/heart.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    object-fit: cover;
    display: block;
    min-width: 21px;
    min-height: 19px;
    padding: 0;
    margin: 0;
    align-self: center;
    border: none;
}

.photos__like-button:hover {
    cursor: pointer;
    opacity: 0.5;

}

.photos__like-button:active, .photos__like-button:focus {
    outline: none;
}



