.profile__add-photo-button {
    background-image: url("../../../images/addPhotoButton.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color:  #000;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 50px;
}

.profile__add-photo-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.profile__add-photo-button:active, .profile__add-photo-button:focus {
    outline: none;
}

@media screen and (max-width: 320px) {
    .profile__add-photo-button {
        width: 100%;
    }
}