.profile__add-photo-button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color:  #2A2C2F;
    border: 2px solid #FFFFFF;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 50px;
}

@media screen and (max-width: 320px) {
    .profile__add-photo-button {
        width: 100%;
    }
}