.popup__item {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-bottom: 5px;
    padding: 0 0 13px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__item:nth-last-of-type(2) {
    margin-bottom: 45px;
}

.popup__item:active, .popup__item:focus {
    outline: none;
}
